.poligon-type{
    background: var(--white);
    block-size: 8rem;
    inline-size: 100%;
    clip-path:   polygon(100% 0, 100% 100%, 0 100%);
}


@media screen and (min-width: 1020px) { 
    .poligon-type{
        position: absolute;
        bottom: 0;
    }
}

